@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    overflow-x: hidden;

}
.container{
    width: 100%;
}
.headerhero{
    background-image: url(images/heroBack.png);
    background-repeat:no repeat ;
    background-size:cover;
}
header{
 display: flex;
 justify-content: space-between;  
 margin: auto;
 align-items:center;
}
nav{
    display: flex;
    gap: 2rem;
    align-items: center;
}
li{
    color: white;
    list-style: none !important;
    cursor: pointer;
    font-family: roboto;
}

form input{
    border-radius: 39px;
    padding: 1rem;
    border: none;
}

nav button{
    border-radius:  39px;
    padding: 1rem 2rem;
    background-color: white;
    color: rgba(239,39,121,1);
    border: none;
    cursor: pointer;
    font-family: roboto;
    font-size: 16px;
    margin-left: -1rem;
}
nav button:hover{
    background: rgba(56,163,241,0.8);
    color: #fff;
}
.hero{
    display: flex;
    align-items: center;
    /* gap: 5rem; */
}
.heroimage img{
    width: 100%;
}
.heroText{
    width: 45%;
    margin: auto;
}
.heroimage{
    width: 60%;
    margin: auto;
    margin-top: 5rem;
}
.heroText h2{
    font-family: Roboto;
    font-size: 55px;
    font-weight: 900;
    line-height: 65.5px;
    color: rgba(255,255, 255, 1);
}
.heroText p{ 
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
    color: rgba(255,255,255,0.8);
    width: 55%;
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.heroText button{
    font-family: roboto;
    font-size: 22px;
    font-weight: 700;
    line-height: 33px; 
    border-radius: 35px;
    background: #fff;
    color: rgba(56,163,241,1);
    padding: 1rem 2.5rem;
    border: none;
    cursor: pointer;
}
 
.heroText button:hover{
    background: rgba(56,163,241,0.8);
    color: white !important;
}

.features{
    width: 70%;
    margin: auto; 
    margin-bottom: 4rem;
}
.topfeatures{
    text-align: center;
}
.topfeatures h5{
font-family: Roboto;
font-size: 22px;
font-weight: 700;
line-height: 33px;
}
.topfeatures h2{
font-family: Roboto;
font-size: 46px;
font-weight: 400;
line-height: 57px;
padding: 1rem 0rem;
}
.topfeatures p{
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 25px;
width: 30%;
margin: auto;
margin-bottom: 4rem;
}


.flexfeature{
    display: flex;
    gap: 3rem;
}
.wrapflex{
    display: flex;
    /* gap: 1rem; */
    align-items: center;
}
.wrapImage{
    width: 30%
}
.wraptext{
width:95%;
font-size: 18px;
font-weight: 700;
margin-bottom: 1rem;
}
.wraptext h3{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    width: 70%;
}

.wrap p{
font-family: Roboto;
font-size: 18px;
font-weight: 400;
line-height: 25px;
}
.prototype{
    width:80%;
    margin: auto;
}
.proyotypeImage img{
    width: 100%;
}
.prototypetext{
    text-align: center;
    width: 50%;
    margin:auto;
}
.prototypetext h2{
font-family: Roboto;
font-size: 46px;
font-weight: 400;
line-height: 55px;
width: 70%;
margin: auto;
} 
.prototypetext p{
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 25px;
width: 55%;
margin: auto;
/* padding: 1rem 0rem; */
}

.prototypetext button{
    padding:0.7rem 2rem;
    border-radius: 50px;
    border:none;
    background: rgba(56,163,241,1);
    color:#fff;
    font-family: Roboto;
    font-size: 16px;
    margin-top: 2rem;
}

.lightprototypeText{
    background: linear-gradient(39.97deg, #EF2779 0.79%, #7834BE 79.29%);
}
.lightprototypeText h5{
font-family: Roboto;
font-size: 22px;
font-weight: 700;
line-height: 33px;
text-align: center;
color: #fff;
margin-top: 2rem;
}

.lightprototypeText p{
font-family: Roboto;
font-size: 46px;
font-weight: 400;
line-height: 57px;
height: 100%;
text-align: center;
color: #fff;
}
.lightprototypeText h3{
font-family: Roboto;
font-size: 22px;
font-weight: 700;
line-height: 33px;
text-align: center;
margin-top: 2rem;
color: #fff;
}
.lightprototypeText h2{
font-family: Roboto;
font-size: 22px;
font-weight: 800;
line-height: 33px;
text-align: center;
color: #fff;
margin-top: 4rem;
margin-bottom:-2rem;
}
.bttn{
    text-align: center;
    margin-bottom: 2rem;
    margin: 1rem;
}
.lightprototype button{
 width: 353px;
 background: rgba(239, 39, 121, 1);
 font-family: roboto;
 font-size: 16px;
 font-weight:500;
 line-height: 33px; 
 border-radius: 35px;
 padding: 1rem 2.5rem;
 border: none;
 cursor: pointer;
 text-align: center;
 margin-top: 1rem;
 color: #fff;
 margin-bottom: 3rem;
 margin: auto;
}
.lightprototype button:hover{
    background:#7834BE;
    color: #fff;
}
.lightprototypeText form input{
  width: 353px;
  height:  54px;
  padding: 1rem;
  gap: 47px;
  border-radius: 35px;
  border: none;
  margin-top: 1rem;
}
form{
    text-align: center;
}
.partners{
    width: 60%;
    margin: auto;
}
 
.topPartners{
    text-align: center;
}

.topPartners h2{
font-family: Roboto;
font-size: 46px;
font-weight: 400;
line-height: 57px;
text-align: center;
padding-bottom: 1rem;
margin-top: 2rem;
}
.topPartners p{
font-family: Roboto;
font-size: 16px;
font-weight: 700;
line-height: 33px;
text-align: center;
width:35%;
margin: auto;
margin-top: 2rem;
}
.clientflex{
    display: flex;
    gap: 3rem;
    text-align: center;
    margin-bottom: 4rem;
} 
.clientimage{
    margin: 2rem,0;
}
.clients p{
 font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 33px;
text-align: center;
width: 80%;
margin:auto;
}

.partnerbtn{
    text-align: center;
}
.partnerbtn button{
    padding:0.7rem 2rem;
    border-radius: 50px;
    border:none;
    background: rgba(56,163,241,1);
    color:#fff;
    font-family: Roboto;
    font-size: 16px;
    margin-top: 2rem;
    cursor: pointer;
}
.partnerbtn button:hover{
    background:blue;
    color: #fff;
}

.clients h6{
width: 88px;
height: 38px;
/* padding: 3rem 0; */
margin: auto;
margin-top: 1rem;
}
.testimonial h2{
font-family: Roboto;
font-size: 46px;
font-weight: 400;
line-height: 57px;
text-align: center;
margin: auto;
margin-top: 8rem;
margin-bottom: 5rem;
}
.testimage{
width: 229px;
height: 100%;
margin: auto;
text-align: center;
margin-bottom: 2rem;
}
.para p{
font-family: Roboto;
font-size: 16px;
font-weight: 700;
line-height: 20px;
text-align: center;
margin: auto;
width: 703px;
margin-bottom: 2rem;
}
.orgimage{
width: Hug (152px)px;
height: Hug (50px)px;
gap: 13px;
margin: auto;
text-align: center;
margin-top: 3rem;
margin-bottom: 3rem;
}
.orgbtn{
    text-align: center;
}
.para button{
    padding:0.7rem 2rem;
    border-radius: 50px;
    border:none;
    background: rgba(56,163,241,1);
    color:#fff;
    font-family: Roboto;
    font-size: 16px;
    margin-top: 2rem;
    margin: auto;
    cursor: pointer;
    margin-bottom: 2rem;
}
.orgbtn :hover{
    background: rgba(2, 34, 56, 0.8);
    color: #fff;
}
.pricing{
    width:80%;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.toppricing{
    text-align: center;
    margin-bottom: 4rem;
}
.pricingCards{
    display: flex;
    gap: 2rem;
}
.pricecard{
 width:100%;
height: 50vh;
padding: 2rem;
gap: 2rem;
border-radius: 10px 0px 0px 0px;
border: 1px solid rgba(222, 222, 222, 1);
box-shadow: 0px 23px 19px 0px rgba(0, 0, 0, 0.07);
}
.free h5{
    font-family: Roboto;
    font-size: 22px;
    font-weight: 700;
    line-height: 33px;
    text-align: left;
  
}
.free p{
font-family: Roboto;
font-size: 12px;
font-weight: 700;
line-height: 18px;
text-align: left;
}
.amount{
    display: flex;
    gap:0.5rem;
    margin-top: 4rem;
}

.zero h1{
    font-family: Roboto;
    font-size: 55px;
    font-weight: 900;
    line-height: 65.5px;
}
.dollar h4{
font-family: Roboto;
font-size: 22px;
font-weight: 700;
/* line-height: 65.5px; */
}
.dolar h6 {
font-family: Roboto;
font-size: 12px;
font-weight: 500;
line-height: 65.5px;
}

.pricebtn button{
    padding:0.7rem 2rem;
    border-radius: 50px;
    border:none;
    background: rgba(56,163,241,1);
    color:#fff;
    font-family: Roboto;
    font-size: 16px;
    margin-top: 2rem;
    margin: auto;
    cursor: pointer;
    width:100%;
    margin-top: 2rem;
}
    .pricebtn button:hover{
        background:#fff;
        color: rgba(239, 39, 121, 1);

    }

.toppricing h2{
    font-family: Roboto;
    font-size: 46px;
    font-weight: 400;
    line-height: 57px;
    text-align: center;
    padding-bottom: 1rem;
    }
    .toppricing p{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 33px;
    text-align: center;
    width:35%;
    margin: auto;
    margin-top: 2rem;
    }
    .pricecard:hover{ 
        background: linear-gradient(39.97deg, #EF2779 0.79%, #7834BE 79.29%);
        color: #fff;
    }
    .contact{
        background: rgba(37, 43, 66, 1);
        width: 100%;
        margin: auto;
        padding:4rem 0;
    }
    .topcontact{
        text-align: center;
        width:60%;
        margin: auto;
        margin-bottom: 3rem;
    }
    .topcontact h2{
        font-family: Roboto;
        font-size: 46px;
        font-weight: 400;
        line-height: 57px;
        text-align: center;
        padding-bottom: 1rem;
        color:#fff
        }
        .topcontact p{
        font-family: Roboto;
        font-size: 16px;
        font-weight: 700;
        line-height: 33px;
        text-align: center;
        width:35%;
        margin: auto;
        margin-top: 2rem;
        color:#fff
        }

.contactflex{
    width:60%;
    margin: auto;
    display: flex;
    gap: 4rem;
    align-items: center;
}
.contactform{
    background-color: #fff;
    border-radius: 10px;
    padding: 2rem;
}
.contactform input{
    width: 100%;
    margin-bottom: 1rem;
    background: rgba(232, 232, 232, 1);
    color: black;
    font-family: roboto;
}
.message{
    width: 100%;
    margin-bottom: 1rem;
    background: rgba(232, 232, 232, 1);
    padding-bottom: 7rem;
    border-radius: 0px;
    color: rgba(24, 23, 29, 1);
    font-family: roboto;
}
.contactform button{
    background: rgba(239, 39, 121, 1);
    color:#fff;
    padding: 0.5rem 2rem;
    border: none;
    font-family: roboto;
    border-radius: 50px;
}
.contactform button:hover{
color:  rgba(239, 39, 121, 1);
background: #fff;
border: 1px solid  rgba(239, 39, 121, 1);
}
.address{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}
.address p{
font-family: Roboto;
font-size: 12px;
font-weight: 700;
line-height: 18px;
text-align: left;
color: #fff;
}
.socials{
    display: flex;
    gap: 2rem;
    margin-top: 3rem;
    align-items: center;
}
.ads{
    width: 75%;
}
footer{
    width: 70%;
    margin: auto;
    display: flex;
    /* gap: 3rem; */
    padding: 4rem 0;
    justify-content: space-between;
}
.pages li{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    color: black;
    padding-bottom: 1rem;
}
.pages h4{
font-family: Roboto;
font-size: 22px;
font-weight: 700;
line-height: 33px;
}
.pages{
    width: 15%;
}

.footimage{
    width: 40%;
    margin-top: 2rem;
}
.location1{
    width: 30%;
}
.addresstext1 p{
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: black;
  }
.ads1{
 width: 95%;
}   
.footimage img{
    width: 100%;
}
a{
    text-decoration: none;
    color:#fff;
    cursor:pointer;
    font-family: roboto;
}

a:hover{
    color: yellow;
}

@media screen and (max-width: 1024px){
    .nav button{
        padding: 1rem;
    }

    .heroText p{ 
        width: 80%;
    }
    .flexfeatures{
        gap: 1rem;
    }
    .wraptext h3{
      width: 90%;
    }
    .wrap p{
        font-size: 16px;
    }
    .prototypetext p{
        width: 75%;
    }
    .topPartners p{
        width:50%;
     }
    .clients p{
        width: 100%;
    }
    .topcontact p{
        width: 50%;
    }
    .ads p{
        width: 80%;
    }
    .footimage{
        width: 40%;
    }
    .ads1{
        width: 100%;
    }
    .adresstext1 p{
        font-size: 10px;
    }
    .pages{
    width: 25%;
    }
}
@media screen and (max-width: 768px){
    nav{
       display: none;
    }

    .heroimage{
        width: 60%;
        margin-top: 2rem;
   }
    .heroText{
        width: 40%;
    }
    .heroText h2{
        font-size: 45px;
        font-weight: 600;
        line-height: 40.5px;
    }
    .heroText p{ 
        width: 90%;
        font-size: 600;
        padding-bottom: 1rem;
    }
    .heroText button{
        font-size: 22px;
        padding: 0.7rem 2rem;
    }
    .topfeatures p{
        width: 58%;
    }
   .wrapflex{
       gap: 0.5rem;
    }
    .wrapImage{
        width: 40%
    }
    .wraptext{
    width:80%;
    }
    .wraptext h3{
        font-size: 16px;
        width: 100%;
    }
    
    .wraptext p{
    font-size: 14px;
    }
    .prototypetext h2{
        font-size: 44px;
        line-height: 60px;
        width: 90%;
    } 
    .prototypetext p{
        width: 95%;
    }
    .prototypeImage img{
     width: 100%;
    }
    .topPartners p{
        width: 65%;
    } 
    .clientflex{
     gap: 2rem;
    }
    .clientimage{
     margin: 1rem 0;
    }
    .clients p{
        font-size: 14px;
        width: 100%
    }
    .partners{
        width: 70%;
        margin: auto;
    }c
    .toppricing p{
        width: 53%;
    }
    .pricecard{
      padding: 1rem;
      gap: 1rem;
    }
    .free p{
    font-family: Roboto;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-align: left;
     }

    .topcontact p{
        width: 70%;
     }
     .contactform input{
        width: 100%;
    }
}
@media screen and (max-width: 425px){
    .hero{
        display: flex;
        flex-direction: column-reverse;
    }
    .heroText{
     width: 90%;  
     margin: auto;
     text-align: center; 
     margin-top: 5rem; 
    }
    .heroimage{
        width: 90%;
        margin: auto;
        margin-top: -23rem;
        position: absolute;
    }
    
    .heroText h2{
        font-family: Roboto;
        font-size: 50px;
        font-weight: 400;
        line-height: 60px;
    }
    .heroText p{ 
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 35px;
        color: rgba(255,255,255,0.8);
        width: 80%;
        margin: auto;
        padding-top: 1rem;
        padding-bottom: 3rem;
    }
    
    .heroText button{
        font-size: 16px;
        font-weight: 700;
        line-height: 33px; 
        border-radius: 35px;
        background: #fff;
        color: rgba(56,163,241,1);
        padding: 0.5rem 2.5rem;
        margin-top: 17rem;
    }
    .heroText button:hover{
        background:  rgba(56,163,241,1); 
        color: #fff;  
    }
    .topfeatures p{
     width: 100%;
    }
    .flexfeature{
     display: block;
    }
    .wrapflex{
        width:100%;
    }
    .wrap{
        width: 75%;
        margin: auto;
        margin-bottom: 3rem;

    }
    .wrapImage{  
        width: 20%
    }
    .wraptext{
        width: 80%;
    }
    .prototypetext{
        text-align: center;
        width: 85%;
        margin:auto;
    }

    .prototypetext h2{
        width: 90%;
        font-size: 25px;
    }
    .prototypetext p{
        width: 95%;
        font-size: 15px;
    }
    .prototypeImage{
        width: 100%;
        margin-bottom: 1rem;
    }
    .prototypeImage img{
        width: 100%;
    }
    .topPartners p{
        width: 100%;
    } 
    .clientflex{
        display: block;
    }
    .clients p{
       width: 50%;
       margin:auto;
       font-weight: 50px;
    }
    .toppricing p{
        font-family: Roboto;
        font-size: 16px;
        text-align: center;
        width:90%;
        
    }
    .pricingCards{
        display: block;
    }
    .pricecard{
        padding: 2rem;
        height: 60vh;
        margin-bottom: 3rem;
    }
    .topcontact p{
        width: 90%;
        font-size: 14px;
    }
    .contactflex{
        width:60%;
        margin: auto;
        display: flex;
        gap: 4rem;
        align-items: center;
        flex-direction: column-reverse;
    }
    .contactform{
        background-color: #fff;
        padding: 2rem;
        border-radius: 10px;
        padding: 3rem;
        width: 100%;
    }
    .location{
        width: 80%;
        margin: auto;
    }
    footer{
        width: 90%;
        margin: auto;
        display: block;
        padding: 4rem 0;
    }
    .pages{
        width: 100%;
        text-align: center;
    }
    .footimage{
        width: 100%;
        margin: 4rem 0;
    }
    .location{
        width: 70%;
        margin: auto;
        text-align: center;
    }

}
@media screen and (max-width: 375px){
.wrap{
    width: 85%;
}
.topcontact{
    font-size: 40px;
}
}